{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.name}}{% endblock %}

{% block head %}{{object.name}} Detail{% endblock %}

{% block content %}

    <h2>{{object.name}}</h2>
    <h5>Author: {{object.author.name}}</h5>
    <h5>Created On: {{ object.created_on }}</h5>
    <h5>Updated On: {{ object.updated_on }}</h5>
    <h3>Ingredients</h3>
    {% for ingredient in object.ingredients.all %}
        <li>{{ingredient.ingredient.name}}, <span class="italic">{{ingredient.quantity}}</span></li>
    {% endfor %}

    <a href="{% url 'ledger:recipes' %}" class="go-back-button">
        Go back to Recipe Book
    </a>

{% endblock %}